# Datasets and preprocessing

## Datasets
This notebook includes all the datasets from the data sources mentioned in the paper, including data from the Johns Hopkins University Center for Systems Science and Engineering, and data from The New York Times.

### Global data from JHU

In [37]:
"""Get dataset from JHU
"""
import pandas as pd

confirm = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
death = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
recover = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
confirm_table = pd.read_csv(confirm)
death_table = pd.read_csv(death)
recover_table = pd.read_csv(recover)

print('sample confirm_table')
print(confirm_table[0:5])
print('sample death_table')
print(death_table[0:5])
print('sample recover_table')
print(recover_table[0:5])

sample confirm_table
  Province/State Country/Region       Lat       Long  1/22/20  1/23/20  \
0            NaN    Afghanistan  33.93911  67.709953        0        0
1            NaN        Albania  41.15330  20.168300        0        0
2            NaN        Algeria  28.03390   1.659600        0        0
3            NaN        Andorra  42.50630   1.521800        0        0
4            NaN         Angola -11.20270  17.873900        0        0

   1/24/20  1/25/20  1/26/20  1/27/20  ...  6/3/21  6/4/21  6/5/21  6/6/21  \
0        0        0        0        0  ...   75119   76628   77963   79224
1        0        0        0        0  ...  132360  132372  132374  132379
2        0        0        0        0  ...  129976  130361  130681  130958
3        0        0        0        0  ...   13752   13758   13758   13758
4        0        0        0        0  ...   35140   35307   35594   35772

   6/7/21  6/8/21  6/9/21  6/10/21  6/11/21  6/12/21
0   80841   82326   84050    85892    87716    88740
1  132384  132397  132415   132426   132437   132449
2  131283  131647  132034   132355   132727   133070
3   13777   13781   13791    13805    13813    13813
4   35854   36004   36115    36325    36455    36600

[5 rows x 512 columns]
sample death_table
  Province/State Country/Region       Lat       Long  1/22/20  1/23/20  \
0            NaN    Afghanistan  33.93911  67.709953        0        0
1            NaN        Albania  41.15330  20.168300        0        0
2            NaN        Algeria  28.03390   1.659600        0        0
3            NaN        Andorra  42.50630   1.521800        0        0
4            NaN         Angola -11.20270  17.873900        0        0

   1/24/20  1/25/20  1/26/20  1/27/20  ...  6/3/21  6/4/21  6/5/21  6/6/21  \
0        0        0        0        0  ...    3034    3068    3104    3145
1        0        0        0        0  ...    2451    2451    2451    2451
2        0        0        0        0  ...    3497    3504    3510    3518
3        0        0        0        0  ...     127     127     127     127
4        0        0        0        0  ...     784     788     794     797

   6/7/21  6/8/21  6/9/21  6/10/21  6/11/21  6/12/21
0    3187    3251    3305     3356     3412     3449
1    2452    2452    2452     2452     2453     2453
2    3527    3537    3544     3552     3560     3565
3     127     127     127      127      127      127
4     800     803     811      815      819      825

[5 rows x 512 columns]
sample recover_table
  Province/State Country/Region       Lat       Long  1/22/20  1/23/20  \
0            NaN    Afghanistan  33.93911  67.709953        0        0
1            NaN        Albania  41.15330  20.168300        0        0
2            NaN        Algeria  28.03390   1.659600        0        0
3            NaN        Andorra  42.50630   1.521800        0        0
4            NaN         Angola -11.20270  17.873900        0        0

   1/24/20  1/25/20  1/26/20  1/27/20  ...  6/3/21  6/4/21  6/5/21  6/6/21  \
0        0        0        0        0  ...   58070   58144   58265   58622
1        0        0        0        0  ...  129566  129598  129627  129664
2        0        0        0        0  ...   90517   90767   90995   91198
3        0        0        0        0  ...   13527   13527   13527   13527
4        0        0        0        0  ...   28646   28802   28866   28880

   6/7/21  6/8/21  6/9/21  6/10/21  6/11/21  6/12/21
0   58998   59569   59871    60280    60598    60939
1  129702  129736  129761   129785   129807   129826
2   91413   91651   91894    92132    92384    92620
3   13557   13557   13569    13578    13591    13591
4   29329   29368   29553    29960    30101    30207

[5 rows x 512 columns]

### US data from JHU

In [38]:
us_confirmed = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'
us_deaths = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv'

us_confirmed_tab = pd.read_csv(us_confirmed)
us_deaths_tab = pd.read_csv(us_deaths)
regions = df_confirm["Province_State"].unique()
print('us states:', regions)
print(us_confirmed_tab[0:5])
print(us_deaths_tab[0:5])

us states: ['Alabama' 'Alaska' 'American Samoa' 'Arizona' 'Arkansas' 'California'
 'Colorado' 'Connecticut' 'Delaware' 'Diamond Princess'
 'District of Columbia' 'Florida' 'Georgia' 'Grand Princess' 'Guam'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Northern Mariana Islands' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania'
 'Puerto Rico' 'Rhode Island' 'South Carolina' 'South Dakota' 'Tennessee'
 'Texas' 'Utah' 'Vermont' 'Virgin Islands' 'Virginia' 'Washington'
 'West Virginia' 'Wisconsin' 'Wyoming']
        UID iso2 iso3  code3    FIPS   Admin2 Province_State Country_Region  \
0  84001001   US  USA    840  1001.0  Autauga        Alabama             US
1  84001003   US  USA    840  1003.0  Baldwin        Alabama             US
2  84001005   US  USA    840  1005.0  Barbour        Alabama             US
3  84001007   US  USA    840  1007.0     Bibb        Alabama             US
4  84001009   US  USA    840  1009.0   Blount        Alabama             US

         Lat      Long_  ... 6/3/21  6/4/21  6/5/21  6/6/21  6/7/21  6/8/21  \
0  32.539527 -86.644082  ...   7172    7186    7186    7186    7206    7206
1  30.727750 -87.722071  ...  21684   21698   21698   21698   21724   21744
2  31.868263 -85.387129  ...   2343    2342    2342    2342    2343    2345
3  32.996421 -87.125115  ...   2665    2666    2666    2666    2667    2669
4  33.982109 -86.567906  ...   6894    6906    6906    6906    6916    6918

   6/9/21  6/10/21  6/11/21  6/12/21
0    7209     7211     7215     7215
1   21755    21765    21774    21774
2    2346     2345     2345     2345
3    2670     2671     2673     2673
4    6921     6921     6925     6925

[5 rows x 519 columns]
        UID iso2 iso3  code3    FIPS   Admin2 Province_State Country_Region  \
0  84001001   US  USA    840  1001.0  Autauga        Alabama             US
1  84001003   US  USA    840  1003.0  Baldwin        Alabama             US
2  84001005   US  USA    840  1005.0  Barbour        Alabama             US
3  84001007   US  USA    840  1007.0     Bibb        Alabama             US
4  84001009   US  USA    840  1009.0   Blount        Alabama             US

         Lat      Long_  ... 6/3/21  6/4/21  6/5/21  6/6/21  6/7/21  6/8/21  \
0  32.539527 -86.644082  ...    111     112     112     112     113     113
1  30.727750 -87.722071  ...    312     312     312     312     312     312
2  31.868263 -85.387129  ...     59      59      59      59      59      59
3  32.996421 -87.125115  ...     64      64      64      64      64      64
4  33.982109 -86.567906  ...    139     139     139     139     139     139

   6/9/21  6/10/21  6/11/21  6/12/21
0     113      113      113      113
1     313      313      313      313
2      59       59       59       59
3      64       64       64       64
4     139      139      139      139

[5 rows x 520 columns]

### US data from NYTimes

In [42]:
level = 'states' # or level = 'counties'
url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-' + level + '.csv'
table = pd.read_csv(url)
assert not table.isnull().values.any(), 'We do not handle nan cases in NYTimes'
state_list = table["state"].unique()
print(state_list)
print(table[0:5])

['Washington' 'Illinois' 'California' 'Arizona' 'Massachusetts'
 'Wisconsin' 'Texas' 'Nebraska' 'Utah' 'Oregon' 'Florida' 'New York'
 'Rhode Island' 'Georgia' 'New Hampshire' 'North Carolina' 'New Jersey'
 'Colorado' 'Maryland' 'Nevada' 'Tennessee' 'Hawaii' 'Indiana' 'Kentucky'
 'Minnesota' 'Oklahoma' 'Pennsylvania' 'South Carolina'
 'District of Columbia' 'Kansas' 'Missouri' 'Vermont' 'Virginia'
 'Connecticut' 'Iowa' 'Louisiana' 'Ohio' 'Michigan' 'South Dakota'
 'Arkansas' 'Delaware' 'Mississippi' 'New Mexico' 'North Dakota' 'Wyoming'
 'Alaska' 'Maine' 'Alabama' 'Idaho' 'Montana' 'Puerto Rico'
 'Virgin Islands' 'Guam' 'West Virginia' 'Northern Mariana Islands']
         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

## TODO on the original dataset
1. Get the data needed (i.e., confirmed cases and deaths for the target country or US state) from the original data table

1. Need to be able to get the data (i.e., confirmed cases and deaths for the target country or US state) within a specified date range (start_date, end_date).